*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
*.iml
intelcom-web/front-end/dist
intelcom-web/front-end/build
intelcom-web/front-end/node_modules


# IDE #
#######
.idea/
target/
.classpath
.settings/
.project
*.iml
.metadata/
.recommenders/

# Config Hora #
#############
node_modules/
horajs/assets
bower_components/
dist/
target-grunt/
build.xml
_assets/
poc/
bin/

_assets/
intelcom-web/bi_task.xml
intelcom-web/bi_task.xml
/.classpath
/.project
/.settings/.jsdtscope
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/.settings/org.eclipse.wst.validation.prefs
/target/classes/com/horasphere/websockettest/application/Application.class
/target/classes/com/horasphere/websockettest/application/config/WebSocketConfig.class
/target/classes/com/horasphere/websockettest/interfaces/dto/MessageWrapper.class
/target/classes/com/horasphere/websockettest/interfaces/dto/SimpleMessage.class
/target/classes/com/horasphere/websockettest/interfaces/websocket/WebSocketController.class
/target/classes/static/app.js
/target/classes/static/index.html
/target/classes/static/main.css
/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/target/m2e-wtp/web-resources/META-INF/maven/com.horasphere/websocket-test/pom.properties
/target/m2e-wtp/web-resources/META-INF/maven/com.horasphere/websocket-test/pom.xml
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/websocket-test-0.0.1-SNAPSHOT.war
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/com/horasphere/websockettest/application/Application.class
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/com/horasphere/websockettest/application/config/WebSocketConfig.class
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/com/horasphere/websockettest/interfaces/dto/MessageWrapper.class
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/com/horasphere/websockettest/interfaces/dto/SimpleMessage.class
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/com/horasphere/websockettest/interfaces/websocket/WebSocketController.class
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/static/app.js
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/static/index.html
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/classes/static/main.css
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/classmate-1.3.4.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-validator-5.3.5.Final.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-annotations-2.8.0.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-core-2.8.10.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-databind-2.8.10.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/jboss-logging-3.3.1.Final.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/jcl-over-slf4j-1.7.25.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/jul-to-slf4j-1.7.25.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/log4j-over-slf4j-1.7.25.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/logback-classic-1.1.11.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/logback-core-1.1.11.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.25.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/snakeyaml-1.17.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-aop-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-beans-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-boot-1.5.7.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-boot-autoconfigure-1.5.7.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-boot-starter-1.5.7.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-boot-starter-logging-1.5.7.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-boot-starter-web-1.5.7.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-boot-starter-websocket-1.5.7.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-context-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-core-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-expression-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-messaging-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-web-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-webmvc-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/spring-websocket-4.3.11.RELEASE.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/tomcat-api-7.0.59.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/tomcat-juli-7.0.59.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/tomcat-servlet-api-7.0.59.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/tomcat-util-7.0.59.jar
/target/websocket-test-0.0.1-SNAPSHOT/WEB-INF/lib/validation-api-1.1.0.Final.jar
/target/wstest.war
